# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
.env
*.pyc

# VSCode, PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

git remote set-url origin https://ghttps://github.com/Despair345/pet_project_1
git branch -M main
git push -u origin main


